<div class="parent">
    <div class="card" style="width: 25%;">
        <h5 class="card-header">{{getName()}}</h5>
        <div class="card-body" *ngIf="boutique.categories">
            <h5 class="card-title">Categories</h5>
            <div class="card-text">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let c of boutique.categories">{{c.name}}</li>
                </ul>
            </div>
        </div>
        <button (click)="closePopup()" class="btn btn-primary" style="width: 50%;margin-left: 25%;">
            Close
        </button>
    </div>
</div>